<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App Udacity</title>


    <style>
      .roboto-custom {
        font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "wdth" 100;
      }
    </style>
  </head>
  <body>
    <div
      class="wrapper d-flex flex-column justify-content-center align-items-center text-center py-3"
    >
      <header class="app-header align-self-lg-start mb-5">
        <h1 class="app-title roboto-custom">Your Next Adventure Awaits</h1>
      </header>
      <div
        class="input_section row d-flex flex-column justify-content-center align-items-center mt-5"
      >
      <div class="col">
        <form method="POST" id="travelForm">      
            <div class="input-group">
              <input
                type="text"
                class="form-control form-control-lg"
                id="destination"
                name="destination"
                placeholder="Enter a Destination"
              />
              <span class="input-group-text"
                ><i class="bi bi-geo-alt"></i
              ></span>
            </div>
            <div
              id="destination_error"
              class="alert alert-danger form-text text-start py-2 mt-2"
            ></div>
            <div class="mt-4">
              <input
                type="date"
                class="form-control form-control-lg"
                id="departureDate"
                name="departure"
              />
            </div>
            <div
              id="departure_error"
              class="alert alert-danger form-text text-start py-2 mt-2"
            ></div>
            <button class="btn btn-primary btn-lg mt-4" type="submit">
              Find Trip
            </button>
          </form>
        </div>
        <div class="col travelInfo my-5" style="display: none">
          <h2 id="remaining_days"></h2>
          <p class="locationName"></p>
          <p class="temperature"></p>
          <p class="high-temp"></p>
          <p class="low-temp"></p>
          <p class="weatherStatus"></p>
          <div class="destinationImage"></div>
        </div>
      </div>
    </div>

  
    <script src="../script/handleForm.js"></script>
  </body>
</html>
